In [ ]:
-- zadanie 1
-- Napisz polecenie zwracające nazwy produktów i firmy je dostarczające (baza northwind)
-- tak aby produkty bez „dostarczycieli” i „dostarczyciele” bez produktów nie pojawiali się w wyniku

SELECT Products.ProductName, Suppliers.CompanyName
FROM Products
INNER JOIN Suppliers ON Products.SupplierID=Suppliers.SupplierID

In [ ]:
-- zadanie 2
-- Napisz polecenie zwracające jako wynik nazwy klientów, którzy złożyli zamówienia po 01 marca 1998 (baza northwind)

SELECT Customers.CustomerID, Orders.OrderDate
FROM Customers
INNER JOIN Orders ON Customers.CustomerID=Orders.CustomerID
WHERE Orders.OrderDate>'1998-03-01'
ORDER BY Orders.OrderDate

In [ ]:
-- zadanie 3
-- Napisz polecenie zwracające wszystkich klientów z datami zamówień (baza northwind).
SELECT Customers.CustomerID, Orders.OrderDate
FROM Customers
LEFT OUTER JOIN Orders ON Customers.CustomerID = Orders.CustomerID

In [ ]:
-- zadanie 4
-- Wybierz nazwy i ceny produktów (baza northwind) o cenie jednostkowej pomiędzy 20.00 a 30.00, dla każdego produktu podaj dane adresowe dostawcy
SELECT Products.ProductName, Products.UnitPrice, Suppliers.Address
FROM Products
LEFT OUTER JOIN Suppliers ON Products.SupplierID=Suppliers.SupplierID
WHERE Products.UnitPrice BETWEEN 20 AND 30

In [ ]:
-- zadanie 4
-- Wybierz nazwy produktów oraz inf. o stanie magazynu dla produktów dostarczanych przez firmę ‘Tokyo Traders’
SELECT ProductName, UnitsInStock, CompanyName
FROM Products
LEFT OUTER JOIN Suppliers ON Products.SupplierID=Suppliers.SupplierID
WHERE CompanyName LIKE 'Tokyo Traders'

In [ ]:
-- zadanie 5
-- Czy są jacyś klienci którzy nie złożyli żadnego zamówienia w 1997 roku, jeśli tak to pokaż ich dane adresowe
SELECT Customers.CompanyName, Orders.OrderDate
FROM Customers 
LEFT OUTER JOIN Orders on Customers.CustomerID= Orders.CustomerID
WHERE Customers.CustomerID NOT IN (SELECT CustomerID FROM Orders WHERE OrderDate LIKE '%1997%')
ORDER BY Customers.CompanyName

In [ ]:
-- zadanie 6
-- Wybierz nazwy i numery telefonów dostawców, dostarczających produkty, których aktualnie nie  ma w magazynie

SELECT Suppliers.CompanyName, Suppliers.Phone, Products.UnitsInStock
FROM Suppliers
LEFT OUTER JOIN Products ON Suppliers.SupplierID = Products.SupplierID
WHERE Products.UnitsInStock = 0

In [ ]:
-- zadanie 7
-- Napisz polecenie, wyświetlające CROSS JOIN  między shippers i suppliers. użyteczne dla listowania wszystkich możliwych sposobów w jaki dostawcy mogą dostarczać swoje produkty
SELECT * 
FROM shippers 
CROSS JOIN suppliers;

In [ ]:
-- zadanie 8
-- Napisz polecenie zwracające listę produktów zamawianych w dniu 1996-07-08
-- nie wiem dlaczego LIKE nie działa no ale jebie mnie to po całośći
SELECT Products.ProductName, Orders.OrderDate
FROM Orders
JOIN [Order Details] ON Orders.OrderID = [Order Details].OrderID
JOIN Products ON [Order Details].ProductID = Products.ProductID
WHERE Orders.OrderDate = '1996-07-08'

In [ ]:
-- zadanie 9
-- Wybierz nazwy i ceny produktów (baza northwind) o cenie jednostkowej pomiędzy 20.00 a 30.00, 
-- dla każdego produktu podaj dane adresowe dostawcy, interesują nas tylko produkty z kategorii ‘Meat/Poultry’
SELECT Products.ProductName, Products.UnitPrice, Suppliers.CompanyName
FROM Products
LEFT OUTER JOIN Suppliers ON Products.SupplierID=Suppliers.SupplierID
LEFT OUTER JOIN Categories ON Products.CategoryID = Categories.CategoryID
WHERE Products.UnitPrice BETWEEN 20 AND 30 AND Categories.CategoryName LIKE '%Meat/Poultry%'

In [ ]:
-- zadanie 10
-- Wybierz nazwy i ceny produktów z kategorii ‘Confections’ dla każdego produktu podaj nazwę dostawcy.

SELECT Products.ProductName, Products.UnitPrice, Suppliers.CompanyName, Categories.CategoryName
FROM Products
LEFT OUTER JOIN Suppliers ON Products.SupplierID=Suppliers.SupplierID
LEFT OUTER JOIN Categories ON Products.CategoryID = Categories.CategoryID
WHERE Categories.CategoryName LIKE '%Confections%'

In [ ]:
-- zadanie 11
-- Wybierz nazwy i numery telefonów klientów , którym w 1997 roku przesyłki dostarczała firma ‘United Package’

SELECT Customers.CompanyName, Customers.Phone , Orders.OrderDate, Orders.ShipName
FROM Orders
LEFT OUTER JOIN Customers ON Customers.CustomerID= Orders.CustomerID
LEFT OUTER JOIN Shippers ON Shippers.ShipperID= Orders.ShipVia
WHERE Shippers.CompanyName = 'United Package' AND Orders.OrderDate LIKE '%1997%'

In [ ]:
-- zadanie 12
-- Wybierz nazwy i numery telefonów klientów, którzy kupowali produkty  z kategorii ‘Confections’
-- chuj, nie wiem jak to zrobić bo jest kurwa zjebane i 3 w nocy

In [ ]:
-- zadanie 13
-- Napisz polecenie, które wyświetla pracowników oraz ich podwładnych (baza northwind)

SELECT Employees.FirstName, Employees.LastName, Employees.EmployeeID, Employees.ReportsTo, Employees_1.FirstName, Employees_1.LastName, Employees_1.EmployeeID, Employees_1.ReportsTo
FROM Employees
LEFT JOIN Employees AS Employees_1 ON Employees.EmployeeID = Employees_1.ReportsTo

In [ ]:
-- zadanie 14
-- Napisz polecenie, które wyświetla pracowników, którzy nie mają podwładnych (baza northwind)
SELECT * 
FROM Employees
WHERE EmployeeID NOT IN (SELECT ReportsTo FROM EMployees WHERE ReportsTo IS NOT NULL)

In [ ]:
-- zadanie 15
-- Napisz polecenie, które wyświetla adresy  członków biblioteki, którzy mają dzieci urodzone przed 1 stycznia 1996
-- jebac ta baze z biblioteka

In [ ]:
-- zadannie 16
-- Napisz polecenie, które wyświetla adresy  członków biblioteki, którzy mają dzieci urodzone przed 1 stycznia 1996. 
-- Interesują nas tylko adresy takich członków biblioteki, którzy aktualnie nie przetrzymują książek.

In [ ]:
-- zadanie 17
-- Napisz polecenie które zwraca imię i nazwisko (jako pojedynczą kolumnę – name), oraz informacje o adresie:
-- ulica, miasto, stan kod (jako pojedynczą kolumnę – address)  dla wszystkich dorosłych członków biblioteki

In [ ]:
-- zadanie 18
-- Napisz polecenie, które zwraca: isbn, copy_no, on_loan, title, translation, cover,  dla książek o isbn 1, 500 i 1000.  Wynik posortuj wg ISBN

In [ ]:
-- zadanie 19
-- Napisz polecenie które zwraca o użytkownikach biblioteki o nr 250, 342, i 1675 
-- (dla każdego użytkownika: nr, imię i nazwisko członka biblioteki), oraz informację o  zarezerwowanych książkach (isbn, data)

In [ ]:
-- zadanie 20
-- Podaj listę członków biblioteki mieszkających w Arizonie (AZ) mają  więcej niż dwoje dzieci zapisanych do biblioteki

In [ ]:
-- zadanie 21
-- Podaj listę członków biblioteki mieszkających w Arizonie (AZ) którzy mają  więcej niż dwoje dzieci zapisanych do biblioteki 
-- oraz takich którzy mieszkają w Kaliforni (CA) i mają więcej niż troje dzieci zapisanych do biblioteki