In [1]:
-- Dla każdego klienta podaj imię i nazwisko pracownika, który w 1997r obsłużył
-- najwięcej jego zamówień, podaj także liczbę tych zamówień (jeśli jest kilku takich
-- pracownikow to wystarczy podać imię nazwisko jednego nich). Za datę obsłużenia
-- zamówienia należy przyjąć orderdate. Zbiór wynikowy powinien zawierać nazwę
-- klienta, imię i nazwisko pracownika oraz liczbę obsłużonych zamówień. (baza
-- northwind)
USE Northwind;

SELECT c.CompanyName, e.FirstName, e.LastName, COUNT(*)
FROM Orders o
JOIN Customers c ON c.CustomerID=o.CustomerID
JOIN Employees e ON e.EmployeeID=o.EmployeeID
GROUP BY c.CompanyName, e.FirstName, e.LastName
HAVING COUNT(*) = (SELECT MAX(temp.count)
                    FROM (SELECT c.CompanyName AS comnam, e.FirstName AS firnam, e.LastName AS lasnam, COUNT(*) AS count
                            FROM Orders o
                            JOIN Customers c ON c.CustomerID=o.CustomerID
                            JOIN Employees e ON e.EmployeeID=o.EmployeeID
                            WHERE YEAR(o.OrderDate)=1997
                            GROUP BY c.CompanyName, e.FirstName, e.LastName) temp
                    WHERE temp.comnam=c.CompanyName)

CompanyName,FirstName,LastName,(No column name)
Alfreds Futterkiste,Margaret,Peacock,2
Alfreds Futterkiste,Nancy,Davolio,2
Ana Trujillo Emparedados y helados,Janet,Leverling,2
Antonio Moreno Taquería,Robert,King,2
Around the Horn,Nancy,Davolio,3
Berglunds snabbköp,Nancy,Davolio,4
Blauer See Delikatessen,Janet,Leverling,1
Blauer See Delikatessen,Laura,Callahan,1
Blauer See Delikatessen,Margaret,Peacock,1
Blauer See Delikatessen,Michael,Suyama,1
Blondesddsl père et fils,Janet,Leverling,2
Blondesddsl père et fils,Michael,Suyama,2
Bon app',Janet,Leverling,3
Bon app',Nancy,Davolio,3
Bólido Comidas preparadas,Anne,Dodsworth,1
B's Beverages,Janet,Leverling,2
B's Beverages,Margaret,Peacock,2
B's Beverages,Michael,Suyama,2
Cactus Comidas para llevar,Andrew,Fuller,1
Cactus Comidas para llevar,Anne,Dodsworth,1
Cactus Comidas para llevar,Margaret,Peacock,1
Cactus Comidas para llevar,Robert,King,1
Chop-suey Chinese,Janet,Leverling,1
Chop-suey Chinese,Nancy,Davolio,1
Chop-suey Chinese,Robert,King,1
Chop-suey Chinese,Steven,Buchanan,1
Comércio Mineiro,Margaret,Peacock,2
Consolidated Holdings,Andrew,Fuller,1
Consolidated Holdings,Laura,Callahan,1
Consolidated Holdings,Robert,King,1
Die Wandernde Kuh,Margaret,Peacock,2
Drachenblut Delikatessen,Janet,Leverling,1
Drachenblut Delikatessen,Laura,Callahan,1
Drachenblut Delikatessen,Margaret,Peacock,1
Drachenblut Delikatessen,Robert,King,1
Du monde entier,Andrew,Fuller,1
Du monde entier,Nancy,Davolio,1
Ernst Handel,Andrew,Fuller,3
Ernst Handel,Anne,Dodsworth,3
Familia Arquibaldo,Andrew,Fuller,1
Familia Arquibaldo,Anne,Dodsworth,1
Familia Arquibaldo,Janet,Leverling,1
Familia Arquibaldo,Robert,King,1
Familia Arquibaldo,Steven,Buchanan,1
Folies gourmandes,Janet,Leverling,1
Folies gourmandes,Laura,Callahan,1
Folies gourmandes,Margaret,Peacock,1
Folies gourmandes,Michael,Suyama,1
Folies gourmandes,Nancy,Davolio,1
Folk och fä HB,Janet,Leverling,2
Folk och fä HB,Margaret,Peacock,2
Folk och fä HB,Michael,Suyama,2
Folk och fä HB,Robert,King,2
France restauration,Andrew,Fuller,1
France restauration,Janet,Leverling,1
France restauration,Nancy,Davolio,1
Franchi S.p.A.,Janet,Leverling,1
Franchi S.p.A.,Nancy,Davolio,1
Frankenversand,Laura,Callahan,3
Furia Bacalhau e Frutos do Mar,Nancy,Davolio,2
Galería del gastrónomo,Janet,Leverling,1
Galería del gastrónomo,Margaret,Peacock,1
Galería del gastrónomo,Nancy,Davolio,1
Godos Cocina Típica,Andrew,Fuller,1
Godos Cocina Típica,Margaret,Peacock,1
Godos Cocina Típica,Nancy,Davolio,1
Gourmet Lanchonetes,Margaret,Peacock,2
Great Lakes Food Market,Michael,Suyama,2
GROSELLA-Restaurante,Laura,Callahan,1
GROSELLA-Restaurante,Nancy,Davolio,1
HILARION-Abastos,Janet,Leverling,2
HILARION-Abastos,Nancy,Davolio,2
Hungry Coyote Import Store,Laura,Callahan,1
Hungry Coyote Import Store,Margaret,Peacock,1
Hungry Coyote Import Store,Nancy,Davolio,1
Hungry Owl All-Night Grocers,Andrew,Fuller,3
Hungry Owl All-Night Grocers,Anne,Dodsworth,3
Hungry Owl All-Night Grocers,Michael,Suyama,3
La maison d'Asie,Andrew,Fuller,2
La maison d'Asie,Laura,Callahan,2
La maison d'Asie,Margaret,Peacock,2
La maison d'Asie,Robert,King,2
Laughing Bacchus Wine Cellars,Janet,Leverling,1
Lazy K Kountry Store,Laura,Callahan,1
Lazy K Kountry Store,Nancy,Davolio,1
Lehmanns Marktstand,Laura,Callahan,3
Lehmanns Marktstand,Margaret,Peacock,3
Lehmanns Marktstand,Robert,King,3
Let's Stop N Shop,Laura,Callahan,1
Let's Stop N Shop,Margaret,Peacock,1
Let's Stop N Shop,Michael,Suyama,1
Let's Stop N Shop,Nancy,Davolio,1
LILA-Supermercado,Andrew,Fuller,1
LILA-Supermercado,Margaret,Peacock,1
LILA-Supermercado,Michael,Suyama,1
LINO-Delicateses,Andrew,Fuller,2
LINO-Delicateses,Laura,Callahan,2
LINO-Delicateses,Margaret,Peacock,2
LINO-Delicateses,Nancy,Davolio,2
Lonesome Pine Restaurant,Andrew,Fuller,1
Lonesome Pine Restaurant,Janet,Leverling,1
Lonesome Pine Restaurant,Laura,Callahan,1
Lonesome Pine Restaurant,Nancy,Davolio,1
Magazzini Alimentari Riuniti,Laura,Callahan,2
Magazzini Alimentari Riuniti,Nancy,Davolio,2
Maison Dewey,Margaret,Peacock,2
Maison Dewey,Steven,Buchanan,2
Mère Paillarde,Nancy,Davolio,3
Morgenstern Gesundkost,Janet,Leverling,2
North/South,Andrew,Fuller,1
Océano Atlántico Ltda.,Janet,Leverling,1
Océano Atlántico Ltda.,Laura,Callahan,1
Océano Atlántico Ltda.,Margaret,Peacock,1
Pericles Comidas clásicas,Laura,Callahan,1
Pericles Comidas clásicas,Nancy,Davolio,1
Pericles Comidas clásicas,Robert,King,1
Pericles Comidas clásicas,Steven,Buchanan,1
Piccolo und mehr,Michael,Suyama,2
Piccolo und mehr,Robert,King,2
Princesa Isabel Vinhos,Janet,Leverling,1
Princesa Isabel Vinhos,Laura,Callahan,1
Princesa Isabel Vinhos,Robert,King,1
Que Delícia,Andrew,Fuller,2
Que Delícia,Laura,Callahan,2
Que Delícia,Margaret,Peacock,2
Que Delícia,Michael,Suyama,2
Queen Cozinha,Margaret,Peacock,2
Rancho grande,Margaret,Peacock,2
Rattlesnake Canyon Grocery,Laura,Callahan,2
Rattlesnake Canyon Grocery,Margaret,Peacock,2
Rattlesnake Canyon Grocery,Steven,Buchanan,2
Reggiani Caseifici,Andrew,Fuller,2
Reggiani Caseifici,Anne,Dodsworth,2
Reggiani Caseifici,Nancy,Davolio,2
Ricardo Adocicados,Andrew,Fuller,2
Ricardo Adocicados,Laura,Callahan,2
Ricardo Adocicados,Nancy,Davolio,2
Ricardo Adocicados,Steven,Buchanan,2
Richter Supermarkt,Anne,Dodsworth,2
Richter Supermarkt,Janet,Leverling,2
Richter Supermarkt,Margaret,Peacock,2
Richter Supermarkt,Robert,King,2
Santé Gourmet,Nancy,Davolio,2
Santé Gourmet,Robert,King,2
Save-a-lot Markets,Andrew,Fuller,4
Save-a-lot Markets,Laura,Callahan,4
Save-a-lot Markets,Margaret,Peacock,4
Save-a-lot Markets,Michael,Suyama,4
Seven Seas Imports,Andrew,Fuller,1
Seven Seas Imports,Janet,Leverling,1
Seven Seas Imports,Laura,Callahan,1
Seven Seas Imports,Michael,Suyama,1
Seven Seas Imports,Robert,King,1
Simons bistro,Andrew,Fuller,2
Simons bistro,Margaret,Peacock,2
Spécialités du monde,Andrew,Fuller,1
Spécialités du monde,Janet,Leverling,1
Spécialités du monde,Michael,Suyama,1
Spécialités du monde,Steven,Buchanan,1
Split Rail Beer & Ale,Margaret,Peacock,1
Split Rail Beer & Ale,Michael,Suyama,1
Split Rail Beer & Ale,Robert,King,1
Suprêmes délices,Anne,Dodsworth,1
Suprêmes délices,Michael,Suyama,1
Suprêmes délices,Nancy,Davolio,1
Suprêmes délices,Robert,King,1
The Big Cheese,Andrew,Fuller,1
The Big Cheese,Laura,Callahan,1
The Big Cheese,Michael,Suyama,1
The Big Cheese,Nancy,Davolio,1
The Cracker Box,Janet,Leverling,1
The Cracker Box,Margaret,Peacock,1
The Cracker Box,Robert,King,1
Toms Spezialitäten,Janet,Leverling,2
Toms Spezialitäten,Michael,Suyama,2
Tortuga Restaurante,Janet,Leverling,1
Tortuga Restaurante,Laura,Callahan,1
Tortuga Restaurante,Margaret,Peacock,1
Tortuga Restaurante,Robert,King,1
Tradição Hipermercados,Janet,Leverling,1
Tradição Hipermercados,Robert,King,1
Trail's Head Gourmet Provisioners,Anne,Dodsworth,1
Trail's Head Gourmet Provisioners,Margaret,Peacock,1
Trail's Head Gourmet Provisioners,Michael,Suyama,1
Vaffeljernet,Laura,Callahan,2
Victuailles en stock,Andrew,Fuller,1
Vins et alcools Chevalier,Janet,Leverling,1
Vins et alcools Chevalier,Michael,Suyama,1
Vins et alcools Chevalier,Steven,Buchanan,1
Wartian Herkku,Laura,Callahan,4
Wellington Importadora,Margaret,Peacock,2
Wellington Importadora,Robert,King,2
White Clover Markets,Laura,Callahan,2
White Clover Markets,Robert,King,2
Wolski Zajazd,Laura,Callahan,1
Wolski Zajazd,Michael,Suyama,1
Wolski Zajazd,Steven,Buchanan,1

In [ ]:
-- Podaj liczbę̨ zamówień oraz wartość zamówień (bez opłaty za przesyłkę)
-- obsłużonych przez każdego pracownika w marcu 1997. Za datę obsłużenia
-- zamówienia należy uznać datę jego złożenia (orderdate). Jeśli pracownik nie
-- obsłużył w tym okresie żadnego zamówienia, to też powinien pojawić się na liście
-- (liczba obsłużonych zamówień oraz ich wartość jest w takim przypadku równa 0).
-- Zbiór wynikowy powinien zawierać: imię i nazwisko pracownika, liczbę obsłużonych
-- zamówień, wartość obsłużonych zamówień, oraz datę najpóźniejszego zamówienia
-- (w badanym okresie). (baza northwind)

SELECT
    e.FirstName,
    e.LastName,
    COALESCE(COUNT(o.OrderID), 0) AS NumOrders,
    COALESCE(SUM(od.Quantity * od.UnitPrice * (1 - od.Discount)), 0) AS TotalOrderValue,
    COALESCE(MAX(o.OrderDate), NULL) AS LatestOrderDate
FROM
    Employees e
LEFT OUTER JOIN
    Orders o ON o.EmployeeID = e.EmployeeID
           AND YEAR(o.OrderDate) = 1997
           AND MONTH(o.OrderDate) = 1
LEFT OUTER JOIN
    [Order Details] od ON od.OrderID = o.OrderID
GROUP BY
    e.FirstName, e.LastName;

In [ ]:
-- Podaj liczbę̨ zamówień oraz wartość zamówień (uwzględnij opłatę za przesyłkę)
-- obsłużonych przez każdego pracownika w lutym 1997. Za datę obsłużenia
-- zamówienia należy uznać datę jego złożenia (orderdate). Jeśli pracownik nie
-- obsłużył w tym okresie żadnego zamówienia, to też powinien pojawić się na liście
-- (liczba obsłużonych zamówień oraz ich wartość jest w takim przypadku równa 0).
-- Zbiór wynikowy powinien zawierać: imię i nazwisko pracownika, liczbę obsłużonych
-- zamówień, wartość obsłużonych zamówień. (baza northwind)

SELECT e.FirstName, e.LastName, COUNT(*), CASE WHEN SUM(od.Quantity*od.UnitPrice+o.Freight)>0 THEN SUM(od.Quantity*od.UnitPrice+o.Freight) ELSE 0 END
FROM Employees e 
JOIN Orders o ON e.EmployeeID=o.EmployeeID
JOIN [Order Details] od ON o.OrderID=od.OrderID
WHERE MONTH(o.OrderDate)=2 AND YEAR(o.OrderDate)=1997
GROUP BY e.FirstName, e.LastName

In [2]:
-- Podaj listę dzieci będących członkami biblioteki, które w dniu '2001-12-14'
-- zwróciły do biblioteki książkę o tytule 'Walking'. Zbiór wynikowy powinien zawierać
-- imię i nazwisko oraz dane adresowe dziecka. (baza library)

USE library;

SELECT j.member_no, l.in_date
FROM juvenile j
JOIN loanhist l ON j.member_no = l.member_no
WHERE l.title_no IN (
    SELECT t.title_no
    FROM title t
    WHERE t.title LIKE '%Walking%'
)  AND l.in_date LIKE '%2001-12-14%';

In [ ]:
-- Podaj listę dzieci będących członkami biblioteki, które w dniu '2001-12-14' nie
-- zwróciły do biblioteki książki o tytule 'Walking'. Zbiór wynikowy powinien zawierać
-- imię i nazwisko oraz dane adresowe dziecka.

USE library;

SELECT m.firstname, m.lastname, a.addres
FROM juvenile j
JOIN member m ON j.member_no = m.member_no 
JOIN (
    SELECT member_no AS amn, CONCAT(street, ', ', city, ', ', state) AS addres
    FROM adult
) a ON a.amn=j.adult_member_no
WHERE
    m.member_no NOT IN (
        SELECT j.member_no
        FROM juvenile j
        JOIN loan l ON l.member_no = j.member_no
        JOIN title t ON t.title_no = l.title_no
        JOIN loanhist lh ON l.copy_no = lh.copy_no
        WHERE YEAR(lh.in_date) = 2001 AND MONTH(lh.in_date) = 12 AND DAY(lh.in_date) = 14
        GROUP BY j.member_no
    );

In [ ]:
-- Podaj tytuły książek zarezerwowanych przez dorosłych członków biblioteki
-- mieszkających w Arizonie (AZ). Zbiór wynikowy powinien zawierać imię i nazwisko
-- członka biblioteki, jego adres oraz tytuł zarezerwowanej książki. Jeśli jakaś osoba
-- dorosła mieszkająca w Arizonie nie ma zarezerwowanej żadnej książki to też
-- powinna znaleźć się na liście, a w polu przeznaczonym na tytuł książki powinien
-- pojawić się napis BRAK. (baza library)

USE library;

SELECT
    m.firstname,
    m.lastname,
    COALESCE(t.title, 'BRAK') AS reserved_title,
    a.street
FROM
    member m
JOIN
    adult a ON m.member_no = a.member_no
LEFT OUTER JOIN
    loan l ON a.member_no = l.member_no
LEFT OUTER JOIN
    title t ON l.title_no = t.title_no
WHERE
    a.state = 'AZ';

In [ ]:
-- Zad.3. Wyświetl podsumowanie zamówień (całkowita cena + fracht) obsłużonych
-- przez pracowników w lutym 1997 roku, uwzględnij wszystkich, nawet jeśli suma
-- wyniosła 0.

SELECT e.FirstName, e.LastName, COALESCE(COUNT(o.OrderDate), 0) ordercount, COALESCE(SUM(od.Quantity*od.UnitPrice*(1-od.Discount)+o.Freight),0) valuesum
FROM Employees e
LEFT OUTER JOIN Orders o ON e.EmployeeID=o.EmployeeID  AND YEAR(o.OrderDate)=1997 AND MONTH(o.OrderDate)=2
LEFT OUTER JOIN [Order Details] od ON o.OrderID=od.OrderID
GROUP BY e.FirstName, e.LastName
ORDER BY ordercount DESC

In [ ]:
-- Wybierz nazwy i numery telefonów klientów, którzy nie kupowali produktów z kategorii Confections.

SELECT CompanyName, Phone
FROM Customers 
WHERE CustomerID NOT IN (SELECT CustomerID
    FROM Orders
    WHERE OrderID IN ( SELECT OrderID
        FROM [Order Details]
        WHERE ProductID IN (SELECT ProductID
            FROM Products
            WHERE CategoryID IN (SELECT CategoryID
                FROM Categories
                WHERE CategoryName LIKE 'Confections'))))

In [ ]:
--Podaj listę dzieci będących członkami biblioteki, które w dniu '2001-12-14'
--zwróciły do biblioteki książkę o tytule 'Walking'. Zbiór wynikowy powinien zawierać
--imię i nazwisko oraz dane adresowe dziecka. (baza library

USE library;

SELECT m.firstname, m.lastname, CONCAT(a.street,',', a.city, ', ', a.state) as adress
FROM juvenile j
JOIN member m ON m.member_no=j.member_no
JOIN adult a ON j.adult_member_no=a.member_no
WHERE j.member_no IN ( SELECT DISTINCT lh.member_no 
                        FROM loanhist lh
                        JOIN title t ON t.title_no=lh.title_no
                        WHERE YEAR(in_date) =2001 AND MONTH(in_date) =12 AND DAY(in_date) =14 AND t.title='Walking')

In [ ]:
-- Zad.2. Wyświetl wszystkich członków biblioteki (imię i nazwisko, adres) 
-- rozróżniając dorosłych i dzieci (dla dorosłych podaj liczbę dzieci),
-- którzy nigdy nie wypożyczyli książki
USE library;

SELECT m.member_no, a.member_no
FROM member m 
CROSS JOIN adult a

In [ ]:
--Zadanko dla Kamilka

USE Northwind;
SELECT o.CustomerID customerid, c.CategoryName categoryname, COUNT(c.CategoryID) 
FROM Orders o 
JOIN [Order Details] od ON o.OrderID = od.OrderId
JOIN Products p ON od.ProductID=p.ProductID
JOIN Categories c ON p.CategoryID=c.CategoryID
GROUP BY o.CustomerID, c.CategoryName
HAVING COUNT(c.CategoryID) = (SELECT MAX(cnt)
                FROM ( SELECT o.CustomerID id, c.CategoryName catname, COUNT(c.CategoryID) cnt
                    FROM Orders o 
                    JOIN [Order Details] od ON o.OrderID = od.OrderId
                    JOIN Products p ON od.ProductID=p.ProductID
                    JOIN Categories c ON p.CategoryID=c.CategoryID
                    GROUP BY o.CustomerID, c.CategoryName) tmp
                 WHERE customerid=tmp.id)
ORDER BY customerid, categoryname, COUNT(c.CategoryID)

In [ ]:
-- Podaj tytuły książek zarezerwowanych przez dorosłych członków biblioteki
-- mieszkających w Arizonie (AZ). Zbiór wynikowy powinien zawierać imię i nazwisko
-- członka biblioteki, jego adres oraz tytuł zarezerwowanej książki. Jeśli jakaś osoba
-- dorosła mieszkająca w Arizonie nie ma zarezerwowanej żadnej książki to też
-- powinna znaleźć się na liście, a w polu przeznaczonym na tytuł książki powinien
-- pojawić się napis BRAK. (baza library)

USE library;

SELECT m.firstname, m.lastname, COALESCE(t.title,'BRAK') titles
FROM adult a
JOIN member m ON a.member_no=m.member_no
LEFT OUTER JOIN loan l ON l.member_no=a.member_no
LEFT OUTER JOIN title t ON t.title_no=l.title_no
WHERE a.state = 'AZ'

In [ ]:
-- Pokaż nazwy produktów, kategorii 'Beverages' które nie były kupowane w okresie
-- od '1997.02.20' do '1997.02.25' Dla każdego takiego produktu podaj jego nazwę,
-- nazwę dostawcy (supplier), oraz nazwę kategorii. Zbiór wynikowy powinien
-- zawierać nazwę produktu, nazwę dostawcy oraz nazwę kategorii. (baza northwind)
USE Northwind;
SELECT p.ProductName, s.CompanyName, c.CategoryName
FROM Products p
JOIN Suppliers s ON p.SupplierID=s.SupplierID
JOIN Categories c ON c.CategoryID=p.CategoryID
WHERE c.CategoryName LIKE 'Beverages' AND p.ProductID NOT IN (SELECT od.ProductID
                                                            FROM Orders o
                                                            JOIN [Order Details] od ON o.OrderID=od.OrderID
                                                            WHERE o.OrderDate BETWEEN '1997.02.20' AND '1997.02.25')

In [92]:
-- Dla każdego pracownika podaj nazwę klienta, dla którego dany pracownik w 1997r
-- obsłużył najwięcej zamówień, podaj także liczbę tych zamówień (jeśli jest kilku
-- takich klientów to wystarczy podać nazwę jednego nich). Za datę obsłużenia
-- zamówienia należy przyjąć orderdate. Zbiór wynikowy powinien zawierać imię i
-- nazwisko pracownika, nazwę klienta, oraz liczbę obsłużonych zamówień. (baza
-- northwind)

USE Northwind;

SELECT CONCAT(e.FirstName,' ', e.LastName) fullname, c.CompanyName,  COALESCE(COUNT(*),0) number_of_orders
FROM Employees e 
LEFT OUTER JOIN Orders o ON e.EmployeeID=o.EmployeeID AND YEAR(o.OrderDate) =1997
LEFT OUTER JOIN Customers c ON o.CustomerID=c.CustomerID
GROUP BY CONCAT(e.FirstName,' ', e.LastName), c.CompanyName
HAVING COUNT(*) = ( SELECT MAX(no_orders)
                            FROM (SELECT CONCAT(Employees.FirstName,' ', Employees.LastName) empname, Orders.CustomerID custid,  COUNT(*) no_orders
                                    FROM Employees 
                                    LEFT OUTER JOIN Orders ON Employees.EmployeeID=Orders.EmployeeID AND YEAR(Orders.OrderDate) =1997
                                    GROUP BY Employees.EmployeeID, Orders.CustomerID) tmp
                            WHERE CONCAT(e.FirstName,' ', e.LastName)=tmp.empname)

: Msg 8120, Level 16, State 1, Line 16
Column 'Employees.FirstName' is invalid in the select list because it is not contained in either an aggregate function or the GROUP BY clause.

: Msg 8120, Level 16, State 1, Line 16
Column 'Employees.LastName' is invalid in the select list because it is not contained in either an aggregate function or the GROUP BY clause.

In [ ]:
-- . Wypisz wszystkich członków biblioteki z adresami i info czy jest dzieckiem czy nie i
-- ilość wypożyczeń w poszczególnych latach i miesiącach.
USE library;
SELECT a.member_no, YEAR(l.out_date) rok, MONTH(l.out_date) miesiac, 'Adult' wiek, COUNT(l.out_date) liczba_wypozyczen 
FROM adult a
JOIN member m ON a.member_no=m.member_no
JOIN loan l ON l.member_no=a.member_no 
GROUP BY a.member_no, YEAR(l.out_date), MONTH(l.out_date)
UNION
SELECT j.member_no, YEAR(l.out_date) rok, MONTH(l.out_date) miesiac, 'Child' wiek, COUNT(l.out_date) liczba_wypozyczen 
FROM juvenile j
JOIN member m ON j.adult_member_no=m.member_no
JOIN loan l ON l.member_no=j.member_no 
GROUP BY j.member_no, YEAR(l.out_date), MONTH(l.out_date)

In [ ]:
-- Zamówienia z Freight większym niż AVG danego roku
USE Northwind;
SELECT o.OrderID, o.Freight
FROM Orders o
WHERE o.Freight > (SELECT AVG(tmp1.Freight)
                    FROM (SELECT YEAR(OrderDate) as y, Freight
                          FROM Orders) tmp1 
                    WHERE YEAR(o.OrderDate) = tmp1.y)

In [ ]:
--. Klienci, którzy nie zamówili nigdy nic z kategorii 'Seafood' w trzech wersjach
SELECT DISTINCT c.CustomerID, c.CompanyName
FROM Customers c
LEFT JOIN Orders o ON c.CustomerID = o.CustomerID
LEFT JOIN [Order Details] od ON o.OrderID = od.OrderID
LEFT JOIN Products p ON od.ProductID = p.ProductID
LEFT JOIN Categories cat ON p.CategoryID = cat.CategoryID AND cat.CategoryName = 'Seafood'
WHERE cat.CategoryID IS NULL;

In [ ]:
-- Dla każdego klienta najczęściej zamawianą kategorię w dwóch wersjach
SELECT o.CustomerID, cat.CategoryName, COUNT(p.CategoryID) cnt
FROM Orders o
JOIN [Order Details] od ON o.OrderID=od.OrderID 
JOIN Products p ON p.ProductID=od.ProductID
JOIN Categories cat ON cat.CategoryID=p.ProductID
GROUP BY o.CustomerID, cat.CategoryName
HAVING COUNT(p.CategoryID)= (SELECT MAX(tmp.coun)
            FROM(SELECT ord.CustomerID id , category.CategoryName cname, COUNT(pr.CategoryID) coun
                FROM Orders ord
                JOIN [Order Details] ode ON ord.OrderID=ode.OrderID 
                JOIN Products pr ON pr.ProductID=ode.ProductID
                JOIN Categories category ON category.CategoryID=pr.ProductID
                GROUP BY ord.CustomerID, category.CategoryName) tmp
                WHERE o.CustomerID= tmp.id)

In [ ]:
---Podaj liczbę zamóień oraz wartość zamówień opłatę za przesyłkę ) obsłużonyhc przez każdego pracownika w lutym 1997. 
-- Jeśli praownik nie obsłużył w tym okresie żadnego zamówienia, to też powinein pojawić sie na liście. 
-- Zbiór powinei zawierać: imię anzwisko, liczbe obsłużonych zamówień, wartość zamóien
USE Northwind;

SELECT e.FirstName, e.LastName, COALESCE(COUNT(o.OrderID),0), COALESCE(ROUND(SUM(od.UnitPrice*od.Quantity*(1-od.Discount)+o.Freight),2),0)
FROM Employees e 
LEFT OUTER JOIN Orders o On e.EmployeeID=o.EmployeeID AND YEAR(o.OrderDate)=1997 AND MONTH(o.OrderDate)=2
LEFT OUTER JOIN [Order Details] od ON od.OrderID=o.OrderID
GROUP BY e.FirstName, e.LastName

In [ ]:
-- podaj kategorie w której produkty wygenerowały najwyższe przychody w 1997.
--  wartość przychodu podaj z rozbiciem na meisiące
SELECT c.CategoryName, MONTH(o.OrderDate), ROUND(SUM(od.Quantity*od.UnitPrice*(1-od.Discount)),2)
FROM  Orders o
JOIN [Order Details] od ON od.OrderID=o.OrderID
JOIN Products p ON od.ProductID=p.ProductID
JOIN Categories c ON c.CategoryID=p.CategoryID
WHERE c.CategoryID = (SELECT TOP 1 c.CategoryID
                       FROM [Order Details] od 
                       JOIN Products p ON od.ProductID=p.ProductID
                       JOIN Categories c ON c.CategoryID=p.CategoryID
                       WHERE YEAR(o.OrderDate)=1997
                       GROUP BY c.CategoryID
                       ORDER BY SUM(od.Quantity*od.UnitPrice*(1-od.Discount)) DESC ) AND YEAR(o.OrderDate)=1997
GROUP BY c.CategoryName, MONTH(o.OrderDate)
ORDER BY ROUND(SUM(od.Quantity*od.UnitPrice*(1-od.Discount)),2)

In [ ]:
-- a w 2 wyswietlic wszystkiee tytuly ksiazek ktore byly wypozyczone wiecej niz 1 raz, i dla tych uzytkownikow ktorzy nie sa dziecmi
USE library;
SELECT t.title
FROM loanhist lh
JOIN title t ON t.title_no=lh.title_no
WHERE member_no in (SELECT member_no
                    FROM adult)
GROUP BY t.title
HAVING COUNT(out_date)>1

In [ ]:
-- -- podaj listę dzieci będących członkami biblioteki które w dniu 2001-12-14 zwróciły do biblioteki książkę o tytule Walking
USE library;

SELECT member_no
FROM juvenile
WHERE member_no IN (SELECT lh.member_no 
                    FROM loanhist lh
                    JOIN title t ON lh.title_no=t.title_no
                    WHERE YEAR(lh.in_date)=2001 AND
                          MONTH(lh.in_date)=12 AND 
                          DAY(lh.in_date)=14 AND 
                          t.title LIKE '%Walking%')

In [ ]:
-- 3 wyswietlic pracownika ktory obsluzyl zamowienia o najwiekszej wartosci w 1997 roku
USE Northwind;
SELECT TOP 1 o.EmployeeID, COUNT(o.OrderID), SUM(od.Quantity*od.UnitPrice*(1-od.Discount))
FROM Orders o 
JOIN [Order Details] od ON o.OrderID=od.OrderID
WHERE YEAR(o.OrderDate)=1997
GROUP BY o.EmployeeID
ORDER BY SUM(od.Quantity*od.UnitPrice*(1-od.Discount)) DESC

In [ ]:
-- trzeba wysiwetlic sume oplat za przewozy dla poszcegolnych przewoznikow z podzialem na miesiace i lata
USE Northwind;
SELECT YEAR(o.OrderDate), s.CompanyName, MONTH(o.OrderDate), SUM(o.Freight)
FROM Orders o 
JOIN Shippers s ON s.ShipperID=o.ShipVia
GROUP BY YEAR(o.OrderDate), s.CompanyName, MONTH(o.OrderDate)